html,
body,
#app {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* 覆写滚动条的样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0) ;
}

html.dark  > * {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255);
}

html.dark {
  background: #121212;
}
